groq
pinecone
langchain
langchain-community
langchain-huggingface
langchain-pinecone
beautifulsoup4
selenium
webdriver-manager
sentence-transformers
tenacity
python-dotenv
nest-asyncio
pypdf
transformers
huggingface-hub
numpy
fastapi
uvicorn[standard]
pydantic
httpx
sqlalchemy
asyncpg
databases
PyJWT
python-dotenv
pydantic-settings
phonenumbers
alembic
psycopg2-binary
pwdlib
pwdlib[argon2]
python-multipart
faster-whisper
groq
piper-tts
livekit-api
livekit
webrtcvad
silero-vad
webrtcvad-wheels
setuptools
librosa
celery
rabbitmq
celery[rabbitmq]
aio-pika